<nav class="navbar navbar-expand-lg fixed-top navbar-custom">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">Surya Prakash M</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#portfolioNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="portfolioNav">
      <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" [class.active-link]="activeSection === 'home'"(click)="setActiveSection('home')"  href="#home">Home</a></li>
              <li class="nav-item"><a class="nav-link" [class.active-link]="activeSection === 'work'"(click)="setActiveSection('work')" href="#work">Work</a></li>
              <li class="nav-item"><a class="nav-link" [class.active-link]="activeSection === 'skills'" (click)="setActiveSection('skills')" href="#skills">Skills</a></li>
              <li class="nav-item"><a class="nav-link" [class.active-link]="activeSection === 'education'"(click)="setActiveSection('education')" href="#education">Education</a></li>
              <li class="nav-item"><a class="nav-link" [class.active-link]="activeSection === 'projects'"(click)="setActiveSection('projects')" href="#projects">Projects</a></li>
              <li class="nav-item"><a class="nav-link" [class.active-link]="activeSection === 'contact'"(click)="setActiveSection('contact')" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<br/>

<app-home></app-home>
<app-work></app-work>
<app-skills></app-skills>
<app-education></app-education>
<app-projects></app-projects>
<app-contact></app-contact>

<footer class="bg-dark text-light text-center py-3 mt-5">
  <small>&copy; {{ currentYear }} Surya Prakash M. All rights reserved.</small>
</footer>