<section id="home" class="container text-center py-5 home-section">
  
    <br/>

<div style="display: flex; padding: 5% 20%;position: relative;">
      <img src="assets/Arrow.png"
       class="arrow-image"
       alt="arrow"
       style="    position: absolute;top: 40px;left: 310px;width: 100px;" />
   <div style="align-self: flex-end;">
        <div class="avatar-wrapper " >
        <img src="assets/Me.png" class="avatar-img" width="120" height="120" alt="Avatar" />
        </div>
    </div>
    <div>
        <h6 class="text-muted text-start"><span class="text-light"> Hello! I am  Surya Prakash M</span></h6>
        <h1 class="display-5 fw-bold mb-3 text-start">
            Crafting logic like <br/><span class="text-info">poetry…</span>
        </h1>
        <p class="text-white small fst-italic mb-4 text-start ">
           Because beauty lives in both design and syntax
        </p>
    </div>
  </div>

<div class="text-center">
  <div class="d-flex justify-content-center flex-wrap gap-3 custom-btn-group">
    <a
      href="https://drive.google.com/file/d/1K2NE_InjTDDn44yzfHUdgqCStpHTydnJ/view?usp=sharing"
      target="_blank"
      class="custom-btn-outline"
    >
      📄 Download Resume
    </a>
    <a href="#contact" class="custom-btn-solid">
      🚀 Hire Me
    </a>
  </div>
</div>



<br/><br/>

  <h4 class="fw-normal">I'm a <span class="text-primary">Software Engineer</span>.</h4>
  <p class="mb-3">
    Currently, I’m a Working at
    <a href="https://www.payoda.com/" target="_blank" class="text-decoration-none text-info">Payoda</a>.
  </p>

  <p class="text-light mx-auto" style="max-width: 600px;">
    As a backend developer, I specialize in building robust server-side applications and have intermediate 
    expertise in AI and data science, which I actively apply to develop smart, data-driven solutions.
  </p>
</section>
