.projects-section {
 h2 {
  font-weight: 600;
  color: #ccffff;
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
  margin-bottom: 2rem;
}


  img {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.03);
    }
  }

  .btn-outline-info {
    margin-top: 10px;
  }

  .row {
    margin-bottom: 4rem;
  }

.card-title {
  font-size: 1rem;
}

.badge {
  font-size: 0.75rem;
}


}
